<md-content layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row">
      <div flex="80">
        <md-input-container ng-if="editor.isEditing">
          <input ng-model="editor.editedNote.title" aria-label="Note Title" required style="width: 100%">
        </md-input-container>
        <h3 class="md-headline" ng-if="!editor.isEditing">
          {{ editor.originalNote.title }}
        </h3>
      </div>
      <div flex="20">
        <md-button class="md-fab md-mini md-primary"
                   ng-if="editor.isEditing"
                   ng-click="editor.saveChanges()">
          <md-tooltip md-direction="down">Save Changes</md-tooltip>
          <md-icon class="material-icons">save</md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-warn"
                   ng-if="editor.originalNote.title !== undefined && !editor.isEditing"
                   ng-click="editor.startEditing()">
          <md-tooltip md-direction="down">Edit Note</md-tooltip>
          <md-icon class="material-icons">edit</md-icon>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <div ng-if="editor.isEditing">
    <md-input-container layout="row">
      <textarea name="name" rows="8" cols="40" ng-model="editor.editedNote.note"></textarea>
    </md-input-container>
  </div>
  <div ng-if="!editor.isEditing" marked="editor.originalNote.note"></div>
</md-content>
