code {
  display: block;
  padding: 5px;
  overflow-y: scroll;
  background-color: rgba(0,0,0,.3);
}
.selected-note {
  /*background-color: red !important;*/
  background-color: rgb(48,48,48);
}
::-webkit-scrollbar {
    display: none;
}
