<div class="wrapper">
  <md-input-container style="margin-bottom: 0; padding: 0">
    <input type="text" name="filter"
           ng-model="toolbar.searchText"
           placeholder="Search Notes">
  </md-input-container>
  <md-progress-circular md-mode="indeterminate" ng-if="nav.loading"></md-progress-circular>
  <md-list style="margin-top: 0; padding: 0">
    <md-list-item class="secondary-button-padding slide"
                  ng-repeat="note in nav.notes | filter:nav.searchText">
      <a ng-click="nav.makeActive(note._id)">{{ note.title }}</a>
      <md-button class="md-fab md-mini md-primary md-secondary"
                 ng-click="nav.removeNote(note._id)">
        <md-icon class="material-icons">
          delete
        </md-icon>
      </md-button>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</div>
